<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.teradata"
              language="java"
              message="Needed for Teradata jdbc plugin"
              name="terajdbc4-16.20.00.02.jar" mvn_uri="mvn:com.teradata/terajdbc4/16.20.00.02" 
              required="true">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.libraries.jdbc.teradata"
              language="java"
              message="Needed for Teradata jdbc plugin"
              name="tdgssconfig-16.20.00.02.jar" mvn_uri="mvn:com.teradata/tdgssconfig/16.20.00.02" 
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
